---
title: "Credits"
description: "Credits for the developers who contributed to Home Assistant."
date: {{ headerDate }}
---

This page contains a list of people who have contributed in one way or another to Home Assistant. Hover over a username to see their contributions.

### Author

- [{{fearlessLeader.info.name}} (@{{fearlessLeader.info.login}})](https://github.com/{{fearlessLeader.info.login}} "{{fearlessLeader.countString}}")

### Contributors

(in alphabetical order)

{{#allUsers}}- [{{info.name}} (@{{info.login}})](https://github.com/{{info.login}} "{{countString}}")
{{/allUsers}}

This page is irregularly updated using the [`hass-release` tool](https://github.com/home-assistant/hass-release). If you think that you are missing, please let us know.

<i>This page was last updated {{ footerDate }}.</i>
